@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.AnchorPane {
    -fx-background-color: gray;
}
.Button {
    -fx-background-color: #85C1E9;
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 11pt;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.15), 10, 0, 0, 0);
}
.JFXDatePicker {
    -fx-background-color: white;

}
.Label {
    -fx-font-family: 'Ubuntu';
    -fx-font-size: 45pt;
    -fx-text-fill: black;
}